@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uber Move";
  src: url("./fonts/Uber Move.ttf");
}
@font-face {
  font-family: "Uber Move Bold";
  src: url("./fonts/Uber Move Bold.ttf");
}

@font-face {
  font-family: "Uber Move Light";
  src: url("./fonts/Uber Move Light.ttf");
}
@font-face {
  font-family: "Uber Move Medium";
  src: url("./fonts/Uber Move Medium.ttf");
}
@font-face {
  font-family: "Uber Move Text";
  src: url("./fonts/Uber Move Text.ttf");
}

:root{
  --white:#fff;
  --smoke-white:#f1f3f5;
  --blue:#4169e1;
}
.radio:checked + .label{
  background-color:var(--white);
  color:var(--black);
  transform:translateY(-20px);
}
@media (max-width:480px) {
.selector{
  width: 90%;
}
}